body.page1 {
  background-color: #e6e6fa;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  border: 2px solid black;
}

img {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  transition: all 0.3s ease;
}

img:hover {
  z-index: 10;
  border-color: red;
  transform: translateY(-50px);
}

img:nth-child(1) {
  left: 0;
  top: 0;
}

img:nth-child(2) {
  left: 100px;
  top: 100px;
}

img:nth-child(3) {
  left: 200px;
  top: 200px;
}

img:nth-child(4) {
  left: 300px;
  top: 300px;
}

img:nth-child(5) {
  left: 400px;
  top: 400px;
}

img:nth-child(6) {
  left: 500px;
  top: 500px;
}
